@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

header {
  background-image: url(https://media.istockphoto.com/photos/online-shopping-and-payment-man-using-tablet-with-shopping-cart-icon-picture-id1206800961?k=20&m=1206800961&s=612x612&w=0&h=hcPoUKhWtzHXR3PIAHVgPVZDZaO7R8yZ1wNPkUSsgwU=);
  background-size: cover;
  height: 40vh;
  width: 100%;
}
h1 {
  color: #ebc25b;
  margin-bottom: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

h2{
  color: #b88608;
  font-size: 25px;
  text-align: left;
}

p {
  text-align: center;
  font-size: 20px;
  margin: 50px;
  color: rgba(8, 8, 8, 0.986);
  background-color: #b88608;
}

.img {
  width: 20%;
  align-items: center;
  margin: 0 50px;
}

button {
  color: #e2eeebf4;
  background-color: #b4840cec;
  font-size: 15px;
  text-align: center;
  padding: 3px 15px;
}

#add_items {
  color: rgb(231, 15, 15);
  margin-top: 20px;
  margin-left: 60px;
  font-size: 30px;
}

.item {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  font-size: 30px;
  font-weight: 700;
}

.container {
  display: flex;
  border-top: 3px solid #b88608;
}
.shocart h2 {
  color: #b88608;
  font-size: 25px;
  text-align: left;
}

.box_items {
  width: 50%;
  margin: 5px 2.5px 5px 5px;
}

.total {
  width: 50%;
  margin: 5px 5px 5px 2.5px;
}
.total:hover {
  box-shadow: gold;
}

.total ol li {
  font-size: 15px;
}

h2 {
  color: rgb(128, 209, 34);
  font-size: 15px;
  text-align: center;
}

#footer {
  background-image: linear-gradient(60deg, #1a1d20 0%, #485563 100%);
}
#footer .footer {
  min-height: 150px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer h3 {
  color: #ebc25b;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
span {
  margin: 5px;
  padding: 0 5px;
  font-size: 15px;
}
